.profile-container {
    background-color: var(--container-bg);
    border: var(--container-border);
    border-radius: var(--container-radius);
    max-width: (--border-max-width);
    padding: var(--spacing-xl);
    height: calc(80vh - 130px);
    overflow: scroll;
}

.username-section { 
    margin-bottom: var(--spacing-xl); 
}

.current-username { 
    margin-bottom: var(--spacing-md); 
}

.change-username-label {
    color: var(--text-light)
}

.username-form { 
    display: flex; 
    gap: var(--spacing-md); 
    margin-top: var(--spacing-md); 
}

.profile-input { 
    flex: 1; 
    padding: var(--spacing-sm); 
    border-radius: var(--radius-md); 
    border: var(--form-border); 
    background-color: var(--neutral-700); 
    color: var(--neutral-100); 
    transition: all var(--transition); 
    width: 100%; 
}

.profile-input:focus { 
    border: var(--form-active-border); 
}

.profile-input-invalid, .profile-input-invalid:focus { 
    border: var(--form-invalid-border); 
}

.form-buttons { 
    display: flex; 
    gap: var(--spacing-md); 
}

.username-hint {
    margin-top: var(--spacing-sm);
    font-size: var(--font-size-sm);
    color: var(--neutral-400);
}

.save-btn { 
    border: var(--btn-primary-border); 
    background-color: var(--btn-primary-bg); 
    color: var(--btn-primary-text); 
    border-radius: var(--btn-primary-radius); 
    display: inline-block; 
    padding: var(--spacing-md-sm) var(--spacing-md); 
    font-weight: 500; 
    cursor: pointer; 
    transition: all var(--transition); 
}

.save-btn:hover { 
    background-color: var(--btn-primary-hover-bg); 
    border: var(--btn-primary-hover-border);
}

.save-btn:disabled { 
    cursor: not-allowed; 
    background-color: var(--btn-primary-disabled-bg);
    border: var(--btn-primary-disabled-border);
}

@media (max-width: 768px) { 
    .username-form { 
        gap: var(--spacing-sm); 
    }

    .form-buttons {
        gap: var(--spacing-sm);
    }
}
