.tables-list-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--spacing-md) var(--spacing-sm) var(--spacing-md);
}

.tables-page-container {
  background-color: var(--container-bg);
  border: var(--container-border);
  border-radius: var(--container-radius);
  padding: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  height: calc(82vh - 193px);
  overflow-y: auto;
}

.tables-list-page .page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-sm);
  flex-wrap: wrap;
  gap: var(--spacing-md);
}

.tables-list-page .page-title h1 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: var(--font-size-5xl);
  padding: var(--spacing-sm) 0;
}

.tables-list-page .page-action {
  display: flex;
  align-items: center;
}

.tables-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-md);
  width: 100%;
}

.table-card {
  background-color: var(--card-bg);
  border-radius: var(--card-radius);
  border: var(--card-border);
  padding: var(--spacing-md);
  display: grid;
  grid-template-areas:
    "header header"
    "content content"
    "footer footer";
  gap: var(--spacing-sm);
}

.table-card-header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.table-card-content {
  grid-area: content;
}

.table-card-footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--spacing-sm);
  border-top: var(--card-border);
}

.table-header-left {
  display: flex;
  flex-direction: column;
}

.table-name {
  font-weight: 700;
  color: var(--text-blue);
  font-size: var(--font-size-xl);
  justify-content: left;
}

.table-host {
  font-size: var(--font-size-xs);
  color: var(--text-secondary);
}

.table-header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.table-activity {
  font-size: var(--font-size-sm);
}

.activity-label {
  color: var(--text-secondary);
  justify-content: right;
  font-size: var(--font-size-md);
}

.activity-time {
  color: var(--primary-300);
  font-size: var(--font-size-xs);
}

.members-count {
  color: var(--text-light);
  font-weight: 500;
  font-size: var(--font-size-md);
}

.view-table-btn {
  color: var(--btn-primary-bg);
  border: none;
  background-color: transparent;
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-size-sm);
  font-weight: 700;
  cursor: pointer;
  transition: all var(--transition);
}

.view-table-btn:hover {
  color: var(--btn-primary-hover-bg);
}

.create-button {
  background-color: var(--primary-700);
  color: var(--text-light);
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--radius-md);
  border: var(--btn-primary-border);
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: all var(--transition); 
}

.btn-icon {
  width: var(--font-size-md);
  height: var(--font-size-md);
  margin-right: var(--spacing-sm);
  display: inline-block;
}

.create-button:hover {
  background-color: var(--btn-primary-hover-bg);
  border: var(--btn-primary-hover-border);
}

.table-name-form {
  width: 100%;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--input-radius);
  border: var(--input-border);
  background-color: var(--input-bg);
  color: var(--input-text);
  height: var(--font-size-5xl);
  font-size: var(--font-size-md);
  outline: none;
  transition: all var(--transition);
}

.table-name-form:focus {
  border: var(--input-active-border);
}

.cancel-create-table-btn,
.create-table-btn {
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--btn-primary-radius);
  border: var(--btn-primary-border);
  color: var(--btn-primary-text);
  font-weight: 600;
  cursor: pointer;
  transition: all var(--transition-fast);
  min-width: 96px;
}

.cancel-create-table-btn {
  background-color: var(--btn-primary-bg);
  border: var(--btn-primary-border);
  margin-right: auto;
}

.cancel-create-table-btn:hover {
  background-color: var(--btn-primary-hover-bg);
  border: var(--btn-primary-hover-border);
}

.create-table-btn {
  background-color: var(--btn-primary-bg);
  border: var(--btn-primary-border);
  margin-left: auto;
}

.create-table-btn:hover {
  background-color: var(--btn-primary-hover-bg);
  border: var(--btn-primary-hover-border);
}

.cancel-create-table-btn:disabled,
.create-table-btn:disabled {
  background-color: var(--btn-primary-disabled-bg);
  border: var(--btn-primary-disabled-border);
  color: var(--btn-primary-disabled-text);
  cursor: not-allowed;
}

.empty-state {
  text-align: center;
  color: var(--text-secondary);
  font-size: var(--font-size-md);
}

.tables-pagination {
  margin-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
}

@media (max-width: 768px) {
  .tables-list-page .page-title h1 {
    font-size: var(--font-size-4xl);
  }

  .tables-page-container {
    padding: var(--spacing-md);
    gap: var(--spacing-md);
  }

  .tables-list {
    grid-template-columns: 1fr;
    gap: var(--spacing-sm);
  }

  .tables-pagination {
    padding-bottom: var(--spacing-md);
  }
}

@media (max-width: 372px) {
  .activity-label, .activity-time {
    display: none;
  }

  .view-table-btn {
    font-size: var(--font-size-xs);
  }
}

@media (max-width: 335px) {
  .tables-list-page .page-title h1 {
    font-size: var(--font-size-3xl);
  }
}