.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: var(--light-transparent);
}

.modal-content {
  border-radius: var(--radius-md);
  width: 100%;
  max-width: calc(var(--container-max-width) / 2.5);
  max-height: 90vh;
  padding: var(--spacing-md);
  display: flex;
  overflow: hidden;
}

.modal-panel {
  background-color: var(--bg-primary);
  border-radius: var(--radius-md);
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md) var(--spacing-lg);
  border-bottom: 1px solid var(--neutral-700);
}

.modal-header h2 {
  margin: 0;
  font-size: var(--font-size-lg);
  color: var(--text-light);
}

.close-icon {
  height: var(--font-size-xl);
  width: var(--font-size-xl);
}

.modal-close {
  filter: var(--filter-primary);
  background: none;
  border: none;
  margin: 0 var(--spacing-sm);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all var(--transition);
}

.modal-close:hover {
  filter: var(--filter-primary-hover);
}

.modal-body {
  padding: var(--spacing-lg);
  flex: 1;
  overflow-y: auto;
}

.modal-body-inner {
  background: var(--container-bg);
  border: var(--container-border);
  padding: var(--spacing-md);
  border-radius: var(--radius-md);
  max-height: 50vh;
  overflow: scroll;
  width: 100%;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: var(--spacing-md) var(--spacing-lg);
  gap: var(--spacing-md);
  flex-shrink: 0;
}
