.bet-proposal-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  width: 100%;
}

.form-group {
  margin-bottom: var(--spacing-md);
}

.form-group label {
  display: block;
  margin-bottom: var(--spacing-sm);
  color: var(--text-blue);
}

.form-label {
  font-size: var(--font-size-md);
  font-weight: 500;
  color: var(--text-light);
}

.form-select {
  background-color: var(--form-bg);
  border: var(--form-border);
  border-radius: var(--form-radius);
  color: var(--form-text);
  padding: var(--spacing-sm) var(--spacing-lg) var(--spacing-sm) var(--spacing-sm);
  font-size: var(--font-size-md);
  width: 100%;
  transition: all var(--transition);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("@assets/DropdownCaret.png");
  background-repeat: no-repeat;
  background-position: calc(100% - var(--spacing-sm)) center;
  background-size: var(--font-size-sm);
  line-height: 1.4;
}

.form-select:hover {
  border-color: var(--form-active-border);
  outline: none;
}

.form-select::-ms-expand {
  display: none;
}

.centered-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.form-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
}

.nav-button {
  background-color: var(--btn-primary-bg);
  border: var(--btn-primary-border);
  border-radius: var(--btn-primary-radius);
  color: var(--btn-primary-text);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-md);
  cursor: pointer;
  transition: all var(--transition);
}

.nav-button:hover {
  background-color: var(--btn-primary-hover-bg);
  border: var(--btn-primary-hover-border);
}

.nav-button:disabled {
  background: var(--btn-primary-disabled-bg);
  border: var(--btn-primary-disabled-border);
  cursor: not-allowed;
}

.nav-button svg {
  width: var(--font-size-md);
  height: var(--font-size-md);
}

.submit-button {
  background: var(--btn-primary-bg);
  color: var(--btn-primary-text);
  font-weight: 600;
  border: var(--btn-primary-border);
  border-radius: var(--btn-primary-radius);
  padding: var(--spacing-md);
  cursor: pointer;
  transition: all var(--transition);
}

.submit-button:hover {
  background: var(--btn-primary-hover-bg);
  border: var(--btn-primary-hover-border);
}

.submit-button:disabled {
  background-color: var(--btn-primary-disabled-bg);
  border: var(--btn-primary-disabled-border);
  cursor: not-allowed;
}
