.message {
  max-width: 80%;
  min-width: 0;
  width: fit-content;
  margin-bottom: var(--spacing-sm);
  border-radius: var(--radius-md);
}

.message.own-message {
  /* Not a button, but keeps message color consistent */
  background-color: var(--primary-1000);
  border: 1px solid var(--primary-900);
  color: var(--text-light);
  align-self: flex-end;
}

.message.other-message {
  background-color: var(--neutral-700);
  border: 1px solid var(--neutral-500);
  align-self: flex-start;
}

.message.system {
  background-color: var(--card-bg);
  border: var(--card-border);
  border-radius: var(--radius-md);
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--text-secondary);
  font-size: var(--font-size-xl);
  padding: var(--spacing-sm) var(--spacing-md);
  display: inline-block;
  white-space: pre-wrap;
}

.chat-message {
  border-radius: var(--radius-md);
  padding: var(--spacing-sm) var(--spacing-md);
  word-break: break-word;
}

.message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-xs);
}

.sender-name {
  font-weight: 600;
  color: var(--text-light);
  font-size: var(--font-size-sm);
}

.message-time {
  color: var(--text-secondary);
  font-size: var(--font-size-sm);
  margin-left: var(--spacing-sm);
}

@media (max-width: 600px) {
  .message-text, .message.system {
    font-size: var(--font-size-md);
  }
  
  .bet-actions.bet-actions-flex-end {
    align-items: stretch;
    min-width: 0;
  }
}
