.user-list {
  background: var(--card-bg);
  border: 1px solid var(--neutral-600);
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  height: 30vh;
  overflow-y: auto;
  padding: var(--spacing-sm);
}

.user-list.empty {
  text-align: center;
  color: var(--text-secondary);
  font-size: var(--font-size-md);
}

.user-row {
  background-color: var(--btn-primary-bg);
  border: var(--btn-primary-border);
  border-radius: var(--btn-primary-radius);
  transition: all var(--transition);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-sm) var(--spacing-md);
  gap: var(--spacing-md);
  text-align: left;
  width: 100%;
  cursor: default;
  color: inherit;
  cursor: pointer
}

.user-row:hover {
  background-color: var(--btn-primary-hover-bg);
  border: var(--btn-primary-hover-border);
}

.user-row-info {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.user-row-avatar,
.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--neutral-700);
  transition: all var(--transition);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.user-row-username {
  color: var(--text-light);
  font-weight: 500;
}

.user-row-action {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

@media (max-width: 480px) {
  .user-row {
    padding: var(--spacing-xs) var(--spacing-md);
  }
  .user-row-avatar,
  .user-avatar {
    width: 32px;
    height: 32px;
  }
}
