.friends-requests-container {
    background-color: var(--container-bg);
    border: var(--container-border);
    border-radius: var(--container-radius);
    padding: var(--spacing-xl);
    height: calc(80vh - 130px);
    overflow: scroll;
}

.friend-requests-input {
    flex: 1;
    height: var(--font-size-5xl);
    border-radius: var(--form-radius);
}