.friends-requests-container {
    background-color: var(--container-bg);
    border: var(--container-border);
    border-radius: var(--container-radius);
    padding: var(--spacing-xl);
    height: calc(85vh - 130px);
    overflow: scroll;
}