.friends-list-container {
	max-height: 300px;
	overflow-y: auto;
}

.friends-list-label {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 8px;
}

.friends-list-empty {
	color: var(--neutral-400);
}
