.friends-manager-container {
    background-color: var(--container-bg);
    border: var(--container-border);
    border-radius: var(--container-radius);
    padding: var(--spacing-xl);
    height: calc(85vh - 130px);
    overflow: scroll;
}

.add-friend-form { 
    width: 100%;
    display: flex; 
    gap: var(--spacing-sm); 
    margin-top: var(--spacing-md); 
}

.friends-input {
    flex: 1;
    height: var(--font-size-5xl);
    border-radius: var(--form-radius);
}

.add-btn {
    height: var(--font-size-5xl);
    border: var(--btn-primary-border); 
    background-color: var(--btn-primary-bg); 
    color: var(--btn-primary-text); 
    border-radius: var(--btn-primary-radius); 
    display: inline-block; 
    padding: var(--spacing-md-sm) var(--spacing-md); 
    font-weight: 500; 
    cursor: pointer; 
    transition: all var(--transition); 
}

.add-btn:hover { 
    background-color: var(--btn-primary-hover-bg); 
    border: var(--btn-primary-hover-border);
}

.add-btn:disabled { 
    cursor: not-allowed; 
    background-color: var(--btn-primary-disabled-bg);
    border: var(--btn-primary-disabled-border);
}

.friends-search-bar {
    margin-top: var(--spacing-sm);
}
