.navbar {
  position: top;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-surface);
  z-index: 1000;
  height: 3.7rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--container-max-width);
  padding: 0 var(--spacing-lg);
  height: 100%;
}

.navbar-logo {
  font-size: var(--font-size-xl);
  font-weight: 700;
  color: var(--btn-primary-bg);
  margin-right: var(--spacing-xl);
  transition: color var(--transition);
}

.navbar-logo:hover {
  color: var(--btn-primary-hover-bg);
}

.navbar-menu {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  gap: var(--spacing-lg);
}

.nav-icon {
  width: var(--font-size-xl);
  height: var(--font-size-xl);
  margin-right: var(--spacing-sm);
  vertical-align: middle;
}

.nav-text {
  font-weight: 700;
}

.nav-link {
  display: flex;
  align-items: center;
  color: var(--text-light);
  font-size: var(--font-size-sm);
  padding: var(--spacing-sm) var(--spacing-sm);
  border-radius: var(--radius-sm);
  transition: all var(--transition-normal);
}

.nav-link:hover {
  color: var(--primary-300);
}

.btn-sign-out {
  background-color: var(--btn-primary-bg);
  border: var(--btn-primary-border);
  color: var(--text-light);
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--radius-md);
  font-size: var(--font-size-sm);
  cursor: pointer;
  font-weight: 600;
  transition: all var(--transition);
}

.btn-sign-out:hover {
  background-color: var(--btn-primary-hover-bg);
  border: var(--btn-primary-hover-border);
}

@media (max-width: 615px) {  
  .navbar-logo {
    font-size: var(--font-size-lg);
  }
  
  .navbar-links {
    gap: var(--spacing-sm);
  }
}

@media (max-width: 580px) {  
  .navbar-logo {
    margin-right: 0;
  }

  .nav-text {
    display: none;
  }
  
  .nav-icon {
    margin: 0;
    width: var(--font-size-2xl);
    height: var(--font-size-2xl);
  }

  .navbar-links {
    justify-content: center;
    width: 100%;
    gap: min(calc(55vw - 210px), var(--spacing-lg));
  }
}

@media (max-width: 330px) {  
  .navbar-logo {
    font-size: var(--font-size-md);
    font-weight: 600;
  }

  .btn-sign-out {
    padding: var(--spacing-sm);
    font-size: var(--font-size-sm);
  }
}
